<%- include("./header.ejs") %> 
<body>
    <%- include("./sidebar.ejs") %> 
    <div class="p-2 flex-grow-1 bd-highlight">
        <div class="container mt-3">
        <h5 style="color: white;background-color:#613d94;padding: 5px;margin: 0px;" >Purchase Order</h5>
            <div class="d-flex bd-highlight" style="background-color: white;">
                <div class="p-2 flex-fill bd-highlight">
                    <input type="hidden" id="name" name="name" value="<%=name%>">
                    <div id="popup">
                        <p style="text-align: center;margin-top: 10%;">Information Saved Successfully</p>
                        <button id="btn" class="btn btn-primary" onclick="reload()" style="position: relative;left: 40%;margin-top: 8%;">Close</button>
                    </div>
                    <label>Party Name</label>
                    <input id="partyName" class="form-control" type="text" name="partyName">
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <label>PO number</label>
                    <input id="poNumber" class="form-control" type="text" name="poNumber">
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <label>Date</label>
                    <input id="date" class="form-control" type="date" name="date">
                </div>
            </div>
        <h5 style="color: white;background-color:#613d94;padding: 5px;margin: 0px;" >Purchase Order Details</h5>
                 
                    <input type="hidden" name="name" value="<%=name%>">  
                    <div class="d-flex bd-highlight" style="background-color: white;">
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Gray</label>
                            <input id="gray" class="form-control" type="text" name="gray">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Mtr</label>
                            <input id="mtr" class="form-control" type="number" step="0.01" name="mtr">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Rate</label>
                            <input id="rate" onchange="basicAmount()" class="form-control" type="number" step="0.01" name="rate">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Basic Amount</label>
                            <input id="basicAmount" class="form-control" type="number" step="0.01" name="basicAmount">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                            <label>HSN Code</label>
                            <select id="hsnCode" class="form-select" aria-label="Default select example" name='hsnCode' style="width:100px">
                                <% for(let x = 0; x<hsn.length; x++){%> 
                                <option value="<%= hsn[x].hsnCode %>"><%= hsn[x].hsnCode %></option>
                               <% } %> 
                            </select>
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>GST %</label>
                            <input id="gst" onchange="taxAmt()" class="form-control" type="number" step="0.01" name="gst">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Tax Amt.</label>
                            <input id="taxAmt" class="form-control" type="number" step="0.01" name="taxAmt">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Total Amt.</label>
                            <input id="totalAmt" class="form-control" type="number" step="0.01" name="totalAmt">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <button onclick="addData()" class="btn btn-primary mt-4">Add</button>
                        </div>
                    </div>
            
            <div style="background-color:#613d94;height: 4px;width: 100%;"></div>
            <div style="border:solid 1px #613d94;background-color: white;height: 300px;overflow: scroll;">
                    <div class="row m-0" style="text-align: center; padding-top: 10px;font-weight: bold;">
                        <p class="col-sm">Gray</p>
                        <p class="col-sm">Mtr</p>
                        <p class="col-sm ">Rate</p>
                        <p class="col-sm">Basic Amount</p>
                        <p class="col-sm">HSN</p>
                        <p class="col-sm ">GST Rate</p>
                        <p class="col-sm">Tax Amt</p>
                        <p class="col-sm">Total Amount</p>
                        <p class="col-sm">Del</p>
                        <hr>
                    </div>
                    <div id="tableData" class="m-0" style="text-align: center;">
                        
                    </div>
             </div>

             <div style="background-color:#613d94;height: 4px;width: 100%;"></div>
             <div class="row m-0" style="background-color: white;">
                <div class="col-sm">
                    <label>Remark</label>
                    <textarea id="remark" class="form-control" name="remark" rows="10"></textarea>
                    <button onclick="post()" class="btn btn-primary m-1 ml-0">Save Data</button>
                </div>
                <div class="col-sm">
                    <label>Frieght Charges</label>
                    <input id="frieghtCharges" type="text" class="form-control" name="frieghtCharges">
                    <label>Discount %</label>
                    <input id="discount" class="form-control" type="number" step="0.01" name="discount">
                    <div class="row">
                        <div class="col-sm">
                            <label>Other Charges</label>
                            <select id="otherCharges" class="form-select" aria-label="Default select example" name="otherCharges">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>     
                        </div>
                        <div class="col-sm">
                            <label>Amount</label>
                            <input id="amount" class="form-control" type="number" step="0.01" name="amount">
                        </div>
                    </div>
                   <button onclick="addData1()" class="btn btn-primary mt-1" style="float: right;">Add</button>
                    <div style="clear: both;"></div>
                    
                      
                     
                    <div class="row m-0" style="text-align: center;background-color: white; padding-top: 10px;font-weight: bold;">
                        <p class="col-sm ">Charge Name</p>
                        <p class="col-sm">Amount</p>
                        <hr>
                    </div>
                    <div id="tableData1" class="m-0" style="text-align: center;border: solid 1px #613d94;">
                        
                    </div>

                </div>
            </div>
                        <div class="d-flex justify-content-between p-2" style="background-color: #613d94;color: white;">
                            <label>CGST</label>
                            <input id="cgst"  type="number" step="0.01" name="cgst">
                            <label>SGST</label>
                            <input id="sgst"  type="number" step="0.01" name="sgst">
                            <label>IGST</label>
                            <input id="igst"  type="number" step="0.01" name="igst">
                            <label>Grand Total</label>
                            <input id="grandTotal"  type="number" step="0.01" name="grandTotal">
                        </div>


            
        </div>
    </div>
</body>

<script>
document.getElementById("popup")
popup.style.display = "none";
let basicAmt = document.getElementById("basicAmount");
let mtr = document.getElementById("mtr") ;
let rate = document.getElementById("rate");
let tax = document.getElementById("taxAmt");
let gst = document.getElementById("gst");
let totalAmt = document.getElementById("totalAmt")
let grandTotal = document.getElementById("grandTotal")
let cgst = document.getElementById("cgst")
let sgst = document.getElementById("sgst")
let igst = document.getElementById("igst")
let frieghtCharges = document.getElementById("frieghtCharges")
let discount = document.getElementById("discount")

document.getElementById("poNumber").value = Date.now()

const charges = []
let = chargesData = []
const po1 = [];
let data = []




const basicAmount = ()=>{ basicAmt.value = rate.value*mtr.value
}
const taxAmt =()=>{ 
    const x = basicAmt.value*(gst.value/100);
    tax.value = x.toFixed(2)
    const y = +basicAmt.value + +tax.value;
    totalAmt.value = y.toFixed(2)
} 

    
const addData =()=>{
    data = [
             document.getElementById("gray").value,
             document.getElementById("mtr").value,
             document.getElementById("rate").value,
             document.getElementById("basicAmount").value,
             document.getElementById("hsnCode").value,
             document.getElementById("gst").value,
             document.getElementById("taxAmt").value,
             document.getElementById("totalAmt").value,
        ]
    po1.push(data)
    console.log(po1)
    createTable()
    }

const addData1 =()=>{
    chargesData = [
        document.getElementById("otherCharges").value,
        document.getElementById("amount").value,
     ]
     charges.push(chargesData)
     createTable1()
     console.log(po1)
}

    const createTable =()=>{

        const div = document.getElementById("tableData")
            const row = document.createElement("div");
            row.className += " row";
            div.append(row)

            for(let y=0; y<8; y++){
                const p = document.createElement("p");
                p.className += " col-sm";
                p.innerHTML = data[y];
                row.append(p)
                
            }
            document.getElementById("gray").value = ""
             document.getElementById("mtr").value = ""
             document.getElementById("rate").value = ""
             document.getElementById("basicAmount").value = ""
             document.getElementById("hsnCode").value = ""
             document.getElementById("gst").value = ""
             document.getElementById("taxAmt").value = ""
             document.getElementById("totalAmt").value = ""


            const i = document.createElement("i");
                i.className += "col-sm bi bi-x-square"
                i.setAttribute("onclick","del(this.id)")
                i.setAttribute("id",`${po1.length}`)
                i.setAttribute("style","color:red")
                row.append(i)

             document.getElementById("gray").focus()
             totalAmount()
    }

const createTable1 =()=>{
    const div = document.getElementById("tableData1")
            const row = document.createElement("div");
            row.className += "row";
            div.append(row)
    for(let y=0; y<2; y++){
        const p = document.createElement("p");
        p.className += "col-sm";
        p.innerHTML = chargesData[y];
        row.append(p)
    }

    document.getElementById("otherCharges").value=""
    document.getElementById("amount").value=""

    document.getElementById("otherCharges").focus()
    totalAmount()
}

const del =(id)=>{
const els = document.getElementById(id);
const parent = els.parentNode;
let index = $( "div" ).index( parent ) - 32
els.parentNode.remove();
po1.splice(index,1)
totalAmount()
}
    
const totalAmount =()=>{
 let maintotal = 0
 let otherTotal = 0
 let subTotal = 0
 for(let x=0;x<po1.length;x++){
       maintotal =  maintotal + parseInt(po1[x]?.[7])
 }
 for(let x=0;x<charges.length;x++){
       otherTotal =  otherTotal + parseInt(charges[x]?.[1])
 }
 subTotal = maintotal + otherTotal + +frieghtCharges.value - (maintotal*(discount.value/100))
 grandTotal.value = subTotal + (subTotal*(cgst.value/100)) + (subTotal*(sgst.value/100))+ (subTotal*(igst.value/100))
console.log(grandTotal.value)
}
const post =()=>{
    const data = {
        name: document.getElementById("name").value,
        tableData:po1,
        otherCharges:charges,
        remark: document.getElementById("remark").value,
        grandTotal : grandTotal.value,
        date: document.getElementById("date").value,
        partyName: document.getElementById("partyName").value,
        poNumber: document.getElementById("poNumber").value,
    }
    axios({
        method: 'post',
        url: '/createPurchaseOrderGray/create1',
        data: data
    });
    popup.style.display = "block";
    
    
}
const reload =()=>{
    location.reload();
}

</script>

<%- include("./footer.ejs") %> 