<div id='nav'>
    <nav  >
        <div class="d-flex flex-row bd-highlight">
            <img class="p-2 bd-highlight" src="/logo.png" style="height: 50px;"/>
            <button id='nButton' class="p-2 bd-highlight" onclick="toggle()" ><i class="bi bi-list"></i></button>
            <a id="a" class="p-2 bd-highlight mt-1">Dashbord</a>
            <a id="a" class="p-2 bd-highlight mt-1">Users</a>
            <a id="a" href="http://localhost:3000/" class="p-2 flex-grow-1 bd-highlight mt-1">Company List</a>
            <a id="a" class="p-2 mt-1" >Admin</a>
        </div>
    </nav>
</div>




<div class="d-flex bd-highlight">
<div class="p-2 bd-highlight" id="sidebar">
    <div id="dorpdown">
        <h6>Main Masters <i style="margin-left: 20%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/createStatee" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">State Master</button></li>
                </form>
                <form action="/createCity" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">City Master</button></li>
                </form>
                <form action="/createHsnCode" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">HSN Code Master</button></li>
                </form>
                <form action="/createLoom" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Loom Master</button></li>
                </form>
                <form action="/createFlange" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Flange Master</button></li>
                </form>
                <form action="/createGodown" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Godown Master</button></li>
                </form>
                <form action="/createYarnMill" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Yarn Mill Master</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown1">
        <h6>Account Masters <i style="margin-left: 8%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/createShedule" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Shedule Master</button></li>
                </form>
                <form action="/createGroup" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Group Master</button></li>
                </form>
                <form action="/createCategory" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Category Master</button></li>
                </form>
                <form action="/createAccount" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Account Master</button></li>
                </form>
                <form action="/createBank" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Bank Master</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown2">
        <h6>Yarn Masters <i style="margin-left: 23%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/createYarn" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Yarn Master</button></li>
                </form>
                <form action="/createBlend" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Blend Master</button></li>
                </form>
                <form action="/createSparesGroup" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Spares Group Master</button></li>
                </form>
                <form action="/createSpares" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Spares Master</button></li>
                </form>
                <form action="/createWeave" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Weave Master</button></li>
                </form>
                <form action="/createYarnMillName" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Yarn Mill Name Master</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown3">
        <h6>Transaction <i style="margin-left: 28%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/createPurchaseOrder" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Purchase Order Fabric</button></li>
                </form>
                <form action="/createPurchaseOrderGray" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Purchase Order Gray</button></li>
                </form>
                <form action="/createPurchaseOrderYarn" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Purchase Order Yarn</button></li>
                </form>
                <form action="/createPurchaseOrderSpare" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Purchase Order Spare</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown4">
        <h6>Purchase <i style="margin-left: 38%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/fabric" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Fabric</button></li>
                </form>
                <form action="/gray" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Gray</button></li>
                </form>
                <form action="/yarn" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Yarn</button></li>
                </form>
                <form action="/spare" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Spare</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown5">
        <h6>Sales Order <i style="margin-left: 28%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/createSalesOrderFabric" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sales Order Fabric</button></li>
                </form>
                <form action="/createSalesOrderGray" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sales Order Gray</button></li>
                </form>
                <form action="/createSalesOrderYarn" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sales Order Yarn</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown6">
        <h6>Sales<i style="margin-left: 55%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/fabricSales" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sales Fabric</button></li>
                </form>
                <form action="/graySales" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sales Gray</button></li>
                </form>
                <form action="/yarnSales" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button  type="submit" id="sButton">Sales Yarn</button></li>
                </form>
            </ul>
        </div>
    </div>
    <div id="dorpdown7">
        <h6>Job Recieved<i style="margin-left: 23%;" class="bi bi-chevron-right"></i></h6>
        <div style="display: none;">
            <ul style=" list-style-type: none;padding: 0px;">
                <form action="/createJobWithYarn" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Job With Yarn</button></li>
                </form>
                <form action="/createJobWithYarn&Beam/create" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Job with Yarn & Beam</button></li>
                </form>
                <form action="/sizingPo" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sizing PO</button></li>
                </form>
                <form action="/sizing" method="post">
                    <input type="hidden" name="name" value="<%=name%>">
                    <li id="li"><button type="submit" id="sButton">Sizing Purchase</button></li>
                </form>
            </ul>
        </div>
    </div>
</div>