<%- include("./header.ejs") %> 

<body>
    <%- include("./sidebar.ejs") %> 

    <div class="p-2 flex-grow-1 bd-highlight" >
    <div class="container mt-3">
        <div class="d-flex justify-content-between" style="background-color: #613d94;padding: 4px;">
            <h5 style="margin-bottom:0px;padding-left: 0px;">Job With Yarn Information</h5>
            <form  action="/createJobWithYarn" method="post">
                <input type="hidden" name="name" value="<%=name%>">
                <button class='btn btn-light'><i class="bi bi-arrow-left"></i>Job With Yarn Information</button>
            </form>
            </div>
        <div id='state' style="margin: 0px;background-color: white;padding: 5px;" >
            <form action="/createJobWithYarn/create1" method="post">
                <input type="hidden" name="name" value="<%=name%>">
            <div class='row'>
                <div class='col-sm'>
                    <label>Weft</label>
                    <input  class="form-control" type="text" name='weft' /> 
                    <label>Yarn</label>
                    <select  class="form-select" aria-label="Default select example" name='yarn' >
                        <% for(let x = 0; x<yarn.length; x++){%> 
                        <option value="<%= yarn[x].yarnName %>"><%= yarn[x].yarnName %></option>
                       <% } %> 
                    </select>
                    <label>Wieght</label>
                    <input  class="form-control" type="number" step="0.01" name='wieght' /> 
                </div>
                <div class='col-sm'>
                    <label>Challan No.</label>
                    <input id="id" class="form-control" type="text" name='challanNo' /> 
                    <label>Lot No.</label>
                    <input  class="form-control" type="text" name='lotNo' /> 
                    <label>Rate</label>
                    <input  class="form-control" type="text" name='rate' step="0.01"/> 
                 </div>
                <div class='col-sm'>
                    <label>Mill Name</label>
                    <select id="millName" class="form-select" aria-label="Default select example" name='millName' >
                        <% for(let x = 0; x<mill.length; x++){%> 
                        <option value="<%= mill[x].millName %>"><%= mill[x].millName %></option>
                       <% } %> 
                    </select>
                    <label>Shared</label>
                    <input  class="form-control" type="text" name='shared' /> 
                    <label>Quantity</label>
                    <input  class="form-control" type="text" name='quantity' step="0.01" /> 
                </div>
                <div class="col-sm">
                    <label>HSN Code</label>
                    <select id="hsnCode" class="form-select" aria-label="Default select example" name='hsnCode' >
                        <% for(let x = 0; x<hsn.length; x++){%> 
                        <option value="<%= hsn[x].hsnCode %>"><%= hsn[x].hsnCode %></option>
                       <% } %> 
                    </select>
                    <label>Beg</label>
                    <input  class="form-control" type="text" name='beg' /> 
                    <label>Godown Name</label>
                    <select id="millName" class="form-select" aria-label="Default select example" name='godown' >
                        <% for(let x = 0; x<godown.length; x++){%> 
                        <option value="<%= godown[x].locationName %>"><%= godown[x].locationName %></option>
                       <% } %> 
                    </select>
                </div>
              </div>
              <div>
              <button type='submit' class='btn btn-primary mt-1' style="float: right;">Create Job</button>
              <div style="clear:both"></div>
            </div>
        </form>
            
            <div>
                <%if(popup) { %> 
                    <div id="popup">
                        <p style="text-align: center;margin-top: 10%;">Information Saved Successfully</p>
                        <button id="btn" class="btn btn-primary" onclick="popupHide()" style="position: relative;left: 40%;margin-top: 8%;">Close</button>
                    </div>
                    <% } %> 
        </div>
    
        </div>
    </div>
    </div>
</body>

<script>
    document.getElementById("id").value = Date.now()
</script>
    <%- include("./footer.ejs") %> 