<%- include("../header.ejs") %> 
<body>
    <%- include("../sidebar.ejs") %> 
    <div class="p-2 flex-grow-1 bd-highlight">
        <div class="container mt-3">
        <h5 style="color: white;background-color:#613d94;padding: 5px;margin: 0px;" >Process Challan Details</h5>
            <div class="d-flex bd-highlight" style="background-color: white;">
                <div class="p-2 flex-fill bd-highlight">
                    <input type="hidden" id="name" name="name" value="<%=name%>">
                    <div id="popup">
                        <p style="text-align: center;margin-top: 10%;">Information Saved Successfully</p>
                        <button id="btn" class="btn btn-primary" onclick="reload()" style="position: relative;left: 40%;margin-top: 8%;">Close</button>
                    </div>
                    <label>Party Name</label>
                    <select  id="partyName" class="form-select" aria-label="Default select example" name='partyName' >
                        <option >Select Party Name</option>
                        <% for(let x = 0; x<account.length; x++){%> 
                        <option id="<%= account[x].state %>" value="<%= account[x].accountName %>"><%= account[x].accountName %></option>
                       <% } %> 
                    </select>
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <label>Quality No</label>
                    <input id="qualityNo" class="form-control" type="text" name="qualityNo">
                </div>
                <div class="p-2 flex-fill bd-highlight">
                    <label>Date</label>
                    <input id="date" class="form-control" type="date" name="date">
                </div>
            </div>
        <h5 style="color: white;background-color:#613d94;padding: 5px;margin: 0px;" >Purchase Order Details</h5>
                 
                    <input type="hidden" name="name" value="<%=name%>">  
                    <div class="d-flex bd-highlight" style="background-color: white;">
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Gray</label>
                            <input id="gray" class="form-control" type="text" name="gray">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Beam No</label>
                            <input id="beamNo"  class="form-control" type="number"  name="beamNo">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Pieace No</label>
                            <input id="pieaceNo"  class="form-control" type="number"  name="pieaceNo">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Finish</label>
                            <input id="finish" class="form-control" type="text"  name="finish">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">
                            <label>Build No</label>
                            <input id="buildNo" class="form-control" type="text"  name="buildNo">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Party Challan</label>
                            <input id="partyChallan"  class="form-control" type="text"  name="partyChallan">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Gray Dispatch Date</label>
                            <input id="grayDispatchDate" class="form-control" type="date"  name="grayDispatchDate">
                        </div>
                        <div class="p-2 flex-fill bd-highlight">    
                            <label>Recieved By</label>
                            <input id="recievedBy" class="form-control" type="text"  name="recievedBy">
                        </div>
                    </div>
            
            <div style="background-color:#613d94;height: 4px;width: 100%;"></div>
            <div style="border:solid 1px #613d94;background-color: white;height: 300px;overflow: scroll;">
                    <div class="row m-0" style="text-align: center; padding-top: 10px;font-weight: bold;">
                        <p class="col-sm">Gray</p>
                        <p class="col-sm">Beam No</p>
                        <p class="col-sm">Piece No</p>
                        <p class="col-sm ">Finish</p>
                        <p class="col-sm">Build No</p>
                        <p class="col-sm">Party Challan</p>
                        <p class="col-sm ">Gray Dispatch Date</p>
                        <p class="col-sm">Recieved By</p>
                        <p class="col-sm">Del</p>
                        <hr>
                    </div>
                    <div id="tableData" class="m-0" style="text-align: center;">
                        
                    </div>
             </div>

             <!-- <div style="background-color:#613d94;height: 4px;width: 100%;"></div>
             <div class="row m-0" style="background-color: white;">
                <div class="col-sm">
                    <label>Remark</label>
                    <textarea id="remark" class="form-control" name="remark" rows="10"></textarea>
                </div>
                <div class="col-sm">
                    <label>Frieght Charges</label>
                    <input id="frieghtCharges" type="text" class="form-control" name="frieghtCharges">
                    <label>Discount %</label>
                    <input id="discount" class="form-control" type="number" step="0.01" name="discount">
                    <div class="row">
                        <div class="col-sm">
                            <label>Other Charges</label>
                            <select id="otherCharges" class="form-select" aria-label="Default select example" name="otherCharges">
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>     
                        </div>
                        <div class="col-sm">
                            <label>Amount</label>
                            <input id="amount" class="form-control" type="number" step="0.01" name="amount">
                        </div>
                    </div>
                   <button onclick="addData1()" class="btn btn-primary mt-1" style="float: right;">Add</button>
                    <div style="clear: both;"></div>
                    
                      
                     
                    <div class="row m-0" style="text-align: center;background-color: white; padding-top: 10px;font-weight: bold;">
                        <p class="col-sm ">Charge Name</p>
                        <p class="col-sm">Amount</p>
                        <hr>
                    </div>
                    <div id="tableData1" class="m-0" style="text-align: center;border: solid 1px #613d94;">
                        
                    </div> -->

                <!-- </div>
            </div> -->
                        <!-- <div class="d-flex justify-content-between p-2" style="background-color: #613d94;color: white;">
                            <label style="margin-top: 8px;">CGST</label>
                            <input id="cgst"  type="number" step="0.01" name="cgst">
                            <label style="margin-top: 8px;">SGST</label>
                            <input id="sgst"  type="number" step="0.01" name="sgst">
                            <label style="margin-top: 8px;">IGST</label>
                            <input id="igst"  type="number" step="0.01" name="igst">
                            <label style="margin-top: 8px;">Grand Total</label>
                            <input id="grandTotal"  type="number" step="0.01" name="grandTotal">
                            <button onclick="post()" class="btn btn-primary">Save Data</button>
                        </div> -->


            
        </div>
    </div>
    <input type="hidden" id="no" value="<%=no%>">
</body>

<script>
document.getElementById("date").valueAsDate = new Date();
const popup = document.getElementById("popup")
popup.style.display = "none";
// const no = document.getElementById("no").value
// document.getElementById("poNumber").value = `POF/${parseInt(new Date().getFullYear())-1}-${parseInt(new Date().getFullYear())-2000}/${no}`

let gray = document.getElementById("gray");
let beamNo = document.getElementById("beamNo") ;
let pieaceNo = document.getElementById("pieaceNo");
let finish = document.getElementById("finish");
let buildNo = document.getElementById("buildNo");
let partyChallan = document.getElementById("partyChallan")
let grayDispatchDate = document.getElementById("grayDispatchDate")
let recievedBy= document.getElementById("recievedBy");
let cgst = document.getElementById("cgst")
let sgst = document.getElementById("sgst")
let igst = document.getElementById("igst")
let frieghtCharges = document.getElementById("frieghtCharges")
let discount = document.getElementById("discount")
let partyName = document.getElementById("partyName").value

partyChallan.value = Date.now()

recievedBy.addEventListener("keydown",(event)=>{
    if(event.keyCode === 13){
        addData()
    }
    
})



const charges = []
let = chargesData = []
const po1 = [];
let data = []




const basicAmount = ()=>{ basicAmt.value = rate.value*mtr.value}
const taxAmt =()=>{ 
    const x = basicAmt.value*(gst.value/100);
    tax.value = x.toFixed(2)
    const y = +basicAmt.value + +tax.value;
    totalAmt.value = y.toFixed(2)
} 

    
const addData =()=>{
    data = [
             document.getElementById("gray").value,
             document.getElementById("beamNo").value,
             document.getElementById("pieaceNo").value,
             document.getElementById("finish").value,
             document.getElementById("buildNo").value,
             document.getElementById("partyChallan").value,
             document.getElementById("grayDispatchDate").value,
             document.getElementById("recievedBy").value,
        ]
    po1.push(data)
    console.log(po1)
    createTable()
    }

const addData1 =()=>{
    chargesData = [
        document.getElementById("otherCharges").value,
        document.getElementById("amount").value,
     ]
     charges.push(chargesData)
     createTable1()
     console.log(po1)
}

const createTable =()=>{

        const div = document.getElementById("tableData")
            const row = document.createElement("div");
            row.className += " row";
            div.append(row)

            for(let y=0; y<8; y++){
                const p = document.createElement("p");
                p.className += " col-sm";
                p.innerHTML = data[y];
                row.append(p)
                
            }
            document.getElementById("gray").value = ""
             document.getElementById("beamNo").value = ""
             document.getElementById("pieaceNo").value = ""
             document.getElementById("finish").value = ""
             document.getElementById("buildNo").value = ""
             document.getElementById("partyChallan").value = ""
             document.getElementById("grayDispatchDate").value = ""
             document.getElementById("recievedBy").value = ""


            const i = document.createElement("i");
                i.className += "col-sm bi bi-x-square"
                i.setAttribute("onclick","del(this.id)")
                i.setAttribute("id",`${po1.length}`)
                i.setAttribute("style","color:red")
                row.append(i)

            //  totalAmount()
    }

const createTable1 =()=>{
    const div = document.getElementById("tableData1")
            const row = document.createElement("div");
            row.className += "row";
            div.append(row)
    for(let y=0; y<2; y++){
        const p = document.createElement("p");
        p.className += "col-sm";
        p.innerHTML = chargesData[y];
        row.append(p)
    }

    document.getElementById("otherCharges").value=""
    document.getElementById("amount").value=""

    document.getElementById("otherCharges").focus()
    totalAmount()
}

const del =(id)=>{
const els = document.getElementById(id);
const parent = els.parentNode;
let index = $( "div" ).index( parent ) - 40
els.parentNode.remove();
po1.splice(index,1)
totalAmount()
}
    
const totalAmount =()=>{
gstValue()
 let maintotal = 0
 let otherTotal = 0
 let subTotal = 0
 for(let x=0;x<po1.length;x++){
       maintotal =  maintotal + parseFloat(po1[x]?.[7])
 }
 for(let x=0;x<charges.length;x++){
       otherTotal =  otherTotal + parseFloat(charges[x]?.[1])
 }
 subTotal = maintotal + otherTotal + +frieghtCharges.value - (maintotal*(discount.value/100))
 grandTotal.value = (subTotal).toFixed(2)
 console.log(grandTotal.value)
}
const post =()=>{
    const data = {
        name: document.getElementById("name").value,
        tableData:po1,
        otherCharges:charges,
        remark: document.getElementById("remark").value,
        grandTotal : grandTotal.value,
        date: document.getElementById("date").value,
        partyName: document.getElementById("partyName").value,
        poNumber: document.getElementById("qualityNo").value,
        cgst : document.getElementById("cgst").value,
        sgst : document.getElementById("sgst").value,
        igst : document.getElementById("igst").value,
        discount : discount.value,
        frieghtCharges : frieghtCharges.value,
        orderCompleted : "no"
    }
    // axios({
    //     method: 'post',
    //     url: '/createPurchaseOrder/create1',
    //     data: data
    // });
    // popup.style.display = "block";
    
    
}
const reload =()=>{
    location.reload();
}

function gstValue() {
//   let state = s[s.selectedIndex].id
let state = document.getElementById("partyName")
let s = state.options[state.selectedIndex].id
  s.toLowerCase();
  let taxData = 0
for(let x=0;x<po1.length;x++){
    taxData = taxData + +po1[x]?.[6]
}
console.log(taxData)
  if(s==="raj"||s==="rajasthan"){
    cgst.value = taxData/2
    sgst.value = taxData/2
    igst.value = 0
  }else{
    igst.value = taxData
    cgst.value = 0
    sgst.value = 0
  }
}

</script>

<%- include("../footer.ejs") %> 